* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 50px;
  font: 15px/1.6 Helvetica, Arial, sans-serif;
}

rect {
  fill: steelblue;
}

text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}
